h2 {
    color:rgb(65, 182, 18);
    text-align: center;
    background-color: aliceblue;
} 
p {
    color: black;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.responses {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
