body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.responses {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(133, 44, 12)
}
.assignments {
    color:rgb(52, 12, 133)
}
 